<div class="footer">
    <a class="link" href="https://www.linkedin.com/in/themba-ngubeni-942043161/"><span class="fa fa-linkedin"></span></a>
    <a class="link" href="http://facebook.com/themba.ngubeni.129"><span class="fa fa-facebook"></span></a>
    <a class="link" href="http://github.com/lucas11776"><span class="fa fa-github"></span></a>
    <br /><br />
    <h5 class="font-HeroLight bolder">
        Handcrafted by T.L.Ngubeni
        <span class="fa fa-copyright"></span>
        <a href="http://themba.website">themba.website</a>
    </h5>
</div>