<div class="navbar navbar-fixed-top">
    <h2 class="font-alex bolder text-left">{{title}}</h2>
    <h3 class="navbar-btn" ng-click="toggleNavbar()">
        <div class="humburg"></div>
        <div class="humburg"></div>
        <div class="humburg"></div>
    </h3>
</div>
<div class="container-fluid" style="height:60px;"></div>
<div id="sidenav" class="sidenav font-HeroLight">
    <a class="closebtn" ng-click="toggleNavbar()">&times;</a>
    <a href="/"><strong><span class="fa fa-home"></span> Home</strong></a>
    <a href="http://themba.website"><strong><span class="fa fa-laptop"></span> Developer</strong></a>
    <a href="https://github.com/lucas11776/angularjs-template"><strong><span class="glyphicon glyphicon-cloud-download"></span> Download</strong></a>
</div>