<!-- jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1 class="heading font-bold bolder">{{title}}</h1>
        <p class="font-HeroLight text">Making your life easy and simple....</p>
        <a class="link btn btn-info font-CalifornianFB bolder" href="https://github.com/lucas11776/angularjs-template">View <span class="fa fa-github-alt"></span></a>
    </div>
</div>
<!-- Pugin -->
<div class="container pugin">
    <h2 class="heading font-HeroLight text-center">
        Templ<span class="line">ate P</span>ugin's
    </h2>
    <h4 class="font-HeroLight text-center bolder sub-heading">
        This template already containers all mojar framework's which are <br /> up to date.
    </h4>
    <div class="item col-sm-6 text-center">
        <img src="./assets/images/angularjs.png" style="height: 80px;" />
        <h2 class="font-HeroLight bolder">Angular-Js</h2>
        <h4 class="font-HeroLight bolder">This template has angular-js v7</h4>
    </div>
    <div class="item col-sm-6 text-center">
        <img src="./assets/images/jquery.png" style="height: 80px;" />
        <h2 class="font-HeroLight bolder">jQuery</h2>
        <h4 class="font-HeroLight bolder">This template has jquery v3</h4>
    </div>
    <div class="item col-sm-6 text-center">
        <img src="./assets/images/bootstrap.png" style="height: 80px;" />
        <h2 class="font-HeroLight bolder">Bootstrap</h2>
        <h4 class="font-HeroLight bolder">This template has bootstrap v3</h4>
    </div>
    <div class="item col-sm-6 text-center">
        <img src="./assets/images/fontawesome.png" style="height: 80px;" />
        <h2 class="font-HeroLight bolder">Font-awesome</h2>
        <h4 class="font-HeroLight bolder">This template has Font-awesome v3</h4>
    </div>
</div>
<!-- Details -->
<div class="details">
    <div class="item dark">
        <span class="icon fa fa-connectdevelop"></span>
        <h3 class="font-HeroLight bolder">Assert</h3>
        <h1 class="font-Jonah bolder">{{asset.asserts}}</h1>
    </div>
    <div class="item light">
        <span class="icon fa fa-clock-o"></span>
        <h3 class="font-HeroLight bolder">Hour</h3>
        <h1 class="font-Jonah bolder">{{asset.hours}}</h1>
    </div>
    <div class="item dark">
        <span class="icon fa fa-eye"></span>
        <h3 class="font-HeroLight bolder">Views</h3>
        <h1 class="font-Jonah bolder">{{asset.views}}</h1>
    </div>
    <div class="item light">
        <span class="icon fa fa-comments-o"></span>
        <h3 class="font-HeroLight bolder">Comments</h3>
        <h1 class="font-Jonah bolder">{{asset.comments}}</h1>
    </div>
</div>
<!-- Pugin -->
<div class="container pugin text-center">
    <h2 class="heading font-HeroLight">Templ<span class="line">ate Ben</span>efits</h2>
    <h4 class="font-HeroLight bolder sub-heading">Using this template has many benefits let's walk throw some of the <br />benefits.</h4>
    <div class="item col-sm-6">
        <span class="icon fa fa-external-link"></span>
        <span class="top font-HeroLight bolder">1</span>
        <h3 class="font-HeroLight bolder">No need for pugin's</h3>
        <h5 class="font-HeroLight bolder">finding pugin's for a project can be painfull let's cancel that step.</h5>
    </div>
    <div class="item col-sm-6">
        <span class="icon fa fa-pencil"></span>
        <span class="top font-HeroLight bolder">2</span>
        <h3 class="font-HeroLight bolder">Start designing ASP</h3>
        <h5 class="font-HeroLight bolder">As soon as you start your project as soon as you will finish your project.</h5>
    </div>
    <div class="item col-sm-6">
        <span class="icon fa fa-power-off"></span>
        <span class="top font-HeroLight bolder">3</span>
        <h3 class="font-HeroLight bolder">Build app offline</h3>
        <h5 class="font-HeroLight bolder">Everything in this template is made for offline usage no need for internet connection.</h5>
    </div>
    <div class="item col-sm-6">
        <span class="icon fa fa-laptop"></span>
        <span class="top font-HeroLight bolder">4</span>
        <h3 class="font-HeroLight bolder">Just simple to use</h3>
        <h5 class="font-HeroLight bolder">The most import thing about this template is that it is very simple to use.</h5>
    </div>
</div>